<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <provider
      android:name="com.inkronik.reactnative.InkronikInitProvider"
      android:authorities="${applicationId}.inkronik-native-init"
      android:exported="false"
      android:initOrder="101" />
  </application>
</manifest>
